[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "==19.3b0"
flake8 = "*"
isort = "*"
betamax-serializers = "*"
betamax = "*"
pytest-cov = "*"
coverage = "*"
python-coveralls = "*"
pytest-dotenv = "*"
mypy = "*"
pre-commit = "*"

[packages]
requests = "*"
pycryptodome = "*"

[requires]
python_version = "3.7"
